.wrapper{
    width: 500px;
    margin: 0 auto;
}
.header{
    display: flex;
    margin-bottom: 30px;
    margin-top: 20px;
}
.tittle{
    width: 75%;
    text-align: center;
}
.btn{
    padding: 6px 30px;
    background-color: #eee;
}

.mg-rt10 {
    padding-right: 10px;
}
.tittle-add{
    text-align: center;
}